<div class="login-form">
  <h3>Iniciar Sesión</h3>
  <hr>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width form-group">
      <mat-label>Correo Electrónico</mat-label>
      <input name="email" matInput placeholder="Correo Electrónico" [(ngModel)]="usuario.email" required>
    </mat-form-field>
    <mat-form-field class="example-full-width form-group">
      <mat-label>Contraseña</mat-label>
      <input
      type="password"
      name="password" matInput placeholder="Contraseña" [(ngModel)]="usuario.password" required>
    </mat-form-field>
    <div class="d-flex justify-content-center">
      <button mat-raised-button color="primary">Iniciar Sesión</button>
    </div>
  </form>
</div>
