.edit-form hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.edit-form form {
  margin-bottom: 20px;
}

.edit-form .form-group {
  margin-bottom: 15px;
}

.edit-form label {
  display: block;
  font-weight: bold;
  color: #555; /* Cambiado el color de las etiquetas */
}

.edit-form .form-control {
  width: 100%; /* Utilizar todo el ancho disponible */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el botón "Ver Foto" */
.edit-form .input-group {
  display: flex;
  align-items: center;
}

.edit-form .btn-secondary {
  margin-left: 10px;
  background-color: #6c757d; /* Cambiado el color del botón */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-form .btn-secondary:hover {
  background-color: #5a6268; /* Cambiado el color del botón al pasar el ratón */
}


/* Estilos para el formulario de edición */
.edit-form {
  max-width: 600px; /* Aumentado el ancho máximo del formulario */
  margin: 0 auto;
  padding: 30px; /* Aumentado el espaciado interno */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.edit-form h3 {
  font-size: 28px; /* Aumentado el tamaño de fuente del título */
  margin-bottom: 15px; /* Aumentado el margen inferior del título */
  color: #333;
}

.foto-preview {
  margin-top: 20px; /* Aumentado el margen superior */
  max-width: 100%;
  overflow: hidden;
}

.foto-preview img {
  max-width: 100%;
  height: auto;
  display: block;
}
