.contenedor-padre {
    display: block;
    flex-flow: column;
    height: 100%;
    min-height: 100vh;
  }

  .barra {
    flex: 0 1 auto;
  }

  .contenido {
    flex: 1 1 auto;
  }

  .mainburguer{
    top: 3rem;
    position: fixed;
    left: 0;
    padding: 10px;
    z-index: 1000;
  }

  .padding-10 {
    padding: 10px;
  }
