  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <div class="d-flex justify-content-start mt-3 mb-3">
        <button mat-button color="primary" [routerLink]="['/AgregarDir']">Agregar direccion</button>
      </div>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Direcci&oacute;n de env&iacute;o</ng-template>
        <div class="d-flex justify-content-center">
          <div class="col-6">
            <mat-radio-group formControlName="firstCtrl">
              <div *ngIf="direcciones.length > 0 ">
                <div *ngFor="let direccion of direcciones" class="card mt-5 bg-dark">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-2 form-check d-flex align-items-center">
                        <mat-radio-button color="primary" value="{{direccion.idDireccion}}" class="btnRadio" aria-label="Establecer predeterminado"></mat-radio-button>
                      </div>
                      <div class="col-7">
                        <h3 class="mb-0">{{direccion.nombreCompleto}}</h3>
                        <h3 class="mb-0">{{direccion.calleNumero}}</h3>
                        <h3 class="mb-0">{{direccion.codigoPostal}}</h3>
                        <h3 class="mb-0">{{direccion.telefono}}</h3>
                      </div>
                      <div class="col-1 d-flex align-items-center">
                        <button mat-mini-fab color="primary" style="width: 4rem; height:4rem;">
                          <mat-icon> pin_drop</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="direcciones.length > 0 " class="d-flex justify-content-center mt-3 mb-3">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Seleccionar una forma de pago">
      <form [formGroup]="secondFormGroup">
        <div class="d-flex justify-content-center">
          <div class="col-6">
            <mat-radio-group formControlName="secondCtrl">
              <div *ngFor="let tarjeta of tarjetas" class="card mt-5 bg-dark">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2 form-check d-flex align-items-center">
                      <mat-radio-button color="primary" value="{{tarjeta.idTarjeta}}" class="btnRadio" required></mat-radio-button>
                    </div>
                    <div class="col-6">
                      <h3 class="mb-0">**** **** **** {{tarjeta.numTarEncryp}}</h3>
                      <h3 class="mb-0">{{tarjeta.nombreTarjeta | uppercase }}</h3>
                      <h3 class="mb-0">{{tarjeta.mesVencimiento}}/ {{tarjeta.annioVencimiento}}</h3>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                      <button mat-mini-fab color="primary" style="width: 4rem; height:4rem;">
                        <mat-icon>credit_card</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3 mb-3">
          <button mat-button matStepperPrevious>Atr&aacute;s</button>
          <button mat-button matStepperNext (click)="cargarPreview()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizar pedido</ng-template>
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="row px-xl-5">
            <h3 class="section-title position-relative text-uppercase mt-2 text-light"><span class="bg-secondary pr-3">direcci&oacute;n</span></h3>
            <div class="card bg-dark col-11">
              <div class="card-body">
                <div class="row">
                  <div class="col-7">
                    <h3 class="mb-0">{{dir.nombreCompleto}}</h3>
                    <h3 class="mb-0">{{dir.calleNumero}}</h3>
                    <h3 class="mb-0">{{dir.codigoPostal}}</h3>
                    <h3 class="mb-0">{{dir.telefono}}</h3>
                  </div>
                  <div class="col-1 d-flex align-items-center">
                    <button mat-mini-fab color="primary" style="width: 4rem; height:4rem;">
                      <mat-icon> pin_drop</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row px-xl-5">
            <h3 class="section-title position-relative text-uppercase mt-2 text-light"><span class="bg-secondary pr-3">M&eacute;todo de pago</span></h3>
            <div class="card bg-dark col-11">
              <div class="card-body">
                <div class="row">
                  <div class="col-7">
                    <h3 class="mb-0">**** **** **** {{tar.numTarEncryp}}</h3>
                    <h3 class="mb-0">{{tar.nombreTarjeta | uppercase }}</h3>
                    <h3 class="mb-0">{{tar.mesVencimiento}}/ {{tar.annioVencimiento}}</h3>
                  </div>
                  <div class="col-1 d-flex align-items-center">
                    <button mat-mini-fab color="primary" style="width: 4rem; height:4rem;">
                      <mat-icon>credit_card</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <h3 class="section-title position-relative text-uppercase mt-2 text-light"><span class="bg-secondary pr-3">Resumen</span></h3>
          <div class="bg-light p-3 mb-5">
            <div class="border-bottom pb-2">
              <div class="d-flex justify-content-between mb-3">
                <h6>Subtotal</h6>
                <h6>${{subtotal}}</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Env&iacute;o</h6>
                <h6 class="font-weight-medium">$100</h6>
              </div>
            </div>
            <div class="pt-2">
              <div class="d-flex justify-content-between mt-2">
                <h4>Total</h4>
                <h4>${{(subtotal+100).toFixed(2)}}</h4>
              </div>
              <button mat-stroked-button class="btn btn-block font-weight-bold my-3 py-3" color="primary" (click)="setPedido()">Finalizar Pedido</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Atr&aacute;s</button>
      </div>
    </mat-step>
  </mat-stepper>
  