<div class="edit-form">
    <h3>Modificar Perfil</h3>
    <hr>
    <form (ngSubmit)="updateProfile()">
      <mat-form-field class="example-full-width form-group">
        <mat-label>Nombre</mat-label>
        <input name="name" matInput placeholder="Nombre" [(ngModel)]="usuarioMod.name" required>
      </mat-form-field>
      <mat-form-field class="example-full-width form-group">
        <mat-label>Correo Electrónico</mat-label>
        <input name="email" matInput placeholder="Correo Electrónico" [(ngModel)]="usuarioMod.email" required>
      </mat-form-field>
      <mat-form-field class="example-full-width form-group">
        <mat-label>Contraseña</mat-label>
        <input
        type="password"
        name="password" matInput placeholder="Contraseña" [(ngModel)]="usuarioMod.password" required>
      </mat-form-field>
      <mat-form-field class="example-full-width form-group">
        <mat-label>Teléfono</mat-label>
        <input name="telefono" matInput placeholder="Teléfono" [(ngModel)]="usuarioMod.telefono" pattern="[0-9]*" required>
      </mat-form-field>
      <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" type="submit">Actualizar Perfil</button>
      </div>
    </form>
  </div>
