<div class="edit-form">
  <h3>Agregar Producto</h3>
  <hr>
  <form (ngSubmit)="agregar()">
    <mat-form-field class="example-full-width form-group">
      <mat-label>Nombre</mat-label>
      <input name="nombre" matInput placeholder="Nombre" [(ngModel)]="regProducto.nombre" required>
    </mat-form-field>
    <mat-form-field class="example-full-width form-group">
      <mat-label>Descripcion</mat-label>
      <input name="descripcion" matInput placeholder="Descripcion" [(ngModel)]="regProducto.descripcion" required>
    </mat-form-field>
    <mat-form-field class="example-full-width form-group">
      <mat-label>Costo</mat-label>
      <input name="costo" type="number" matInput placeholder="Costo" [(ngModel)]="regProducto.costo" required>
    </mat-form-field>
    <mat-form-field class="example-full-width form-group">
      <mat-label>Tipo de producto</mat-label>
      <input name="tipo_producto" matInput placeholder="Nombre" [(ngModel)]="regProducto.tipo_producto" required>
    </mat-form-field>
    <div class="form-group">
      <label for="foto">Foto </label>
      <input type="text" name="foto" [(ngModel)]="regProducto.foto" id="foto" class="form-control" placeholder="Foto" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
</div>
