<div class="edit-form">
  <h3>Agregar Producto</h3>
  <hr>
  <form (ngSubmit)="agregar()">
    <div class="form-group">
      <label for="nombre">Nombre </label>
      <input type="text" name="nombre" [(ngModel)]="regProducto.nombre" id="nombre" class="form-control" placeholder="Nombre" >
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion </label>
      <input type="text" name="descripcion" [(ngModel)]="regProducto.descripcion" class="form-control" placeholder="descripcion" required>
    </div>
    <div class="form-group">
      <label for="costo">Costo </label>
      <input type="text" name="costo" [(ngModel)]="regProducto.costo" id="costo" class="form-control" placeholder="Costo" required>
    </div>
    <div class="form-group">
      <label for="foto">Foto </label>
      <input type="text" name="foto" [(ngModel)]="regProducto.foto" id="foto" class="form-control" placeholder="Foto" required>
    </div>
    <div class="form-group">
      <label for="tipo_producto">Tipo de producto </label>
      <input type="text" name="tipo_producto" [(ngModel)]="regProducto.tipo_producto" id="tipo_producto" class="form-control" placeholder="tipo_producto" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
</div>
