<div class="container-fluid mb-3">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div
        id="header-carousel"
        class="carousel slide carousel-fade mb-30 mb-lg-0"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#header-carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
          <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div
            class="carousel-item position-relative active"
            style="height: 430px"
          >
            <img
              class="position-absolute w-100 h-100"
              src="../../assets/img/img-carousel-1.jpg"
              style="object-fit: cover"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
            <div class="p-3" style="max-width: 700px">
              <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">
                Men Fashion
              </h1>
              <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                Explora nuestras mochilas de moda para hombres.
                Desde diseños elegantes hasta estilos urbanos y funcionales, nuestras mochilas están diseñadas para elevar tu estilo y satisfacer tus necesidades.
              </p>
              <a
                class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                routerLink="/verProductosC"
                >Conoce nuestros productos</a
              >
            </div>
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px">
            <img
              class="position-absolute w-100 h-100"
              src="../../assets/img/img-carousel-2.jpg"
              style="object-fit: cover"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 700px">
                <h1
                  class="display-4 text-white mb-3 animate__animated animate__fadeInDown"
                >
                  Women Fashion
                </h1>
                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                  Descubre nuestra selección de mochilas de moda para mujeres. Encuentra la mochila que exprese tu estilo único y te permita llevar todo lo que necesitas con estilo y comodidad.
                </p>
                <a
                  class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                  routerLink="/verProductosC"
                  >Conoce nuestros productos</a
                >
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px">
            <img
              class="position-absolute w-100 h-100"
              src="../../assets/img/img-carousel-3.jpg"
              style="object-fit: cover"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 700px">
                <h1
                  class="display-4 text-white mb-3 animate__animated animate__fadeInDown"
                >
                  Kids Fashion
                </h1>
                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                  Descubre nuestras adorables y funcionales mochilas de moda para niños.
                  Diseñadas pensando en la comodidad y el estilo de los más pequeños.
                </p>
                <a
                  class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                  routerLink="/verProductosC"
                  >Conoce nuestros producto</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="product-offer mb-30" style="height: 200px">
        <img class="img-fluid" src="../../assets/img/offer-1.jpg" alt="" />
        <div class="offer-text">
          <h3 class="text-white mb-3">Descubre nuestros increibles productos</h3>
          <a routerLink="/verProductosC"class="btn btn-primary">Ver m&aacute;s</a>
        </div>
      </div>
      <div class="product-offer mb-30 mt-4" style="height: 200px">
        <img class="img-fluid" src="../../assets/img/offer-2.jpg" alt="" />
        <div class="offer-text">
          <h3 class="text-white mb-3">Descubre nuestros increibles productos</h3>
          <a routerLink="/verProductosC" class="btn btn-primary">Ver m&aacute;s</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categories Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">¿Quiénes somos?</span>
  </h2>
  <div class="row px-xl-5 pb-3">

    <div class="col-lg-auto col-md-6 pb-4 d-flex align-items-center justify-content-center">
      <div class="overflow-hidden" style="max-width: 100%; height: auto;">
        <img class="img-fluid" src="../../assets/img/mochilas.png" alt="Mochilas SwiftSack" />
      </div>
    </div>

    <div class="col-lg-6 col-md-12 pb-4 d-flex align-items-center">

      <h2>
        <br>
        En SwiftSack, somos apasionados creadores de mochilas que fusionan magistralmente funcionalidad y estilo. Desde mochilas escolares hasta elegante equipaje de viaje, cada producto es una manifestación de nuestra incansable dedicación a la innovación y la excelencia. Nos esforzamos por trascender los límites, valorando la calidad, la sostenibilidad y la satisfacción del cliente en cada minucioso detalle. La autenticidad fluye en nuestras venas y se plasma en cada diseño único, una poderosa expresión de nuestra conexión humana con la esencia de quienes las llevan.
      </h2>
    </div>
  </div>
</div>

<!-- Categories End -->

<!-- Filosofia Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">Filosofia</span>
  </h2>
  <div class="row px-xl-5 pb-3 mt-5">
    <div class="col-lg-4 col-md-12 pb-4">
      <div class="mission-box">
        <h2>Misión</h2>
        <p>
          Nuestra misión es diseñar y fabricar mochilas funcionales y duraderas que se adapten a las necesidades únicas de nuestros clientes. Buscamos superar las expectativas al brindar soluciones de almacenamiento versátiles y cómodas para estudiantes, viajeros, deportistas, profesionales y todos aquellos que buscan un compañero confiable en sus jornadas diarias y emocionantes.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 pb-4">
      <div class="vision-box">
        <h2>Visión</h2>
        <p>
          Ser reconocidos como líderes en la industria de las mochilas, ofreciendo una amplia gama de productos diseñados para acompañar y enriquecer la vida de nuestros clientes en cada una de sus aventuras y actividades. Nos esforzamos por ser una marca de referencia que refleje innovación, calidad y estilo en cada uno de nuestros productos.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 pb-4">
      <div class="values-box">
        <h2>Valores</h2>
        <ul>
          <li>Excelencia: Perseguimos la perfección y ofrecemos calidad insuperable.</li>
          <li>Innovación: Buscamos constantemente nuevas ideas y soluciones originales.</li>
          <li>Sostenibilidad: Adoptamos prácticas amigables con el medio ambiente.</li>
          <li>Autenticidad: Mantenemos la integridad en todo lo que hacemos.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Filosofia End -->

<!-- Productos Destacados Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">Productos Destacados</span>
  </h2>
  <div class="row px-xl-5">
    <div *ngFor="let producto of productos.slice(0, 8)" class="col-lg-3 col-md-6 col-sm-6 pb-3">
      <div class="product-item bg-light h-100">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" [src]="producto.foto" alt="{{ producto.nombre }}" />
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/verProductosC">Conoce más <i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate product-name" routerLink="/verProductosC">{{ producto.nombre }}</a>
          <div class="mt-2">
            <h5 class="product-price">${{ producto.costo }}</h5>
          </div>
          <div class="mb-2">
            <p class="product-description">{{ producto.descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Productos Destacados End -->

<!-- Offer Start -->

<div  class="container-fluid pt-5 pb-3">
  <div class="row px-xl-5">
    <div class="col-md-6">
      <div class="product-offer mb-30" style="height: 300px">
        <img class="img-fluid" src="../../assets/img/mochila-1.png" alt="" />
        <div class="offer-text">
          <h3 class="text-white mb-3">Descubre nuestros increibles productos</h3>
          <a routerLink="/verProductosC"class="btn btn-primary">Ver m&aacute;s</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-offer mb-30" style="height: 300px">
        <img class="img-fluid" src="../../assets/img/mochila-2.png" alt="" />
        <div class="offer-text">
          <h3 class="text-white mb-3">Descubre nuestros increibles productos</h3>
          <a routerLink="/verProductosC"class="btn btn-primary">Ver m&aacute;s</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Offer End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
      <p class="mb-4">
        No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et
        dolor sed dolor. Rebum tempor no vero est magna amet no
      </p>
      <p class="mb-2">
        <i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New
        York, USA
      </p>
      <p class="mb-2">
        <i class="fa fa-envelope text-primary mr-3"></i>info@example.com
      </p>
      <p class="mb-0">
        <i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890
      </p>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Home</a
            >
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Our Shop</a
            >
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Shop Detail</a
            >
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a
            >
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Checkout</a
            >
            <a class="text-secondary" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
            >
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Home</a
            >
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Our Shop</a
            >
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Shop Detail</a
            >
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a
            >
            <a class="text-secondary mb-2" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Checkout</a
            >
            <a class="text-secondary" routerLink="/verProductosC"
              ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
            >
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
          <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
          <form action="">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Your Email Address"
              />
              <div class="input-group-append">
                <button class="btn btn-primary">Sign Up</button>
              </div>
            </div>
          </form>
          <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
          <div class="d-flex">
            <a class="btn btn-primary btn-square mr-2" routerLink="/verProductosC"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-primary btn-square mr-2" routerLink="/verProductosC"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-primary btn-square mr-2" routerLink="/verProductosC"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-primary btn-square" routerLink="/verProductosC"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row border-top mx-xl-5 py-4"
    style="border-color: rgba(256, 256, 256, 0.1) !important"
  >
    <div class="col-md-6 px-xl-0">
      <p class="mb-md-0 text-center text-md-left text-secondary">
        &copy; <a class="text-primary" routerLink="/verProductosC">Domain</a>. All Rights Reserved.
        Designed by
        <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
      </p>
    </div>
    <div class="col-md-6 px-xl-0 text-center text-md-right">
      <img class="img-fluid" src="img/payments.png" alt="" />
    </div>
  </div>
</div>
<!-- Footer End -->
