<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3 text-white">Filtrar por precio</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>

                  <select [(ngModel)]="selectedPriceRange" name="selectedPriceRange" (change)="onPriceRangeChange()" class="form-control">

                    <option value="all">All Price</option>
                    <option value="0-100">$0 - $100</option>
                    <option value="100-200">$100 - $200</option>
                    <option value="200-300">$200 - $300</option>
                  </select>
                </form>
            </div>
            <!-- Color End -->
        </div>
        <!-- Sidebar End -->


        <!-- Product Start -->
            <div class="col-lg-9 col-md-8">
              <div class="row pb-3">
                  <div *ngFor="let producto of productos | productoFilter:selectedPriceRange " class="col-lg-4 col-md-6 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                      <div class="product-img position-relative overflow-hidden">
                          <img class="img-fixed-size" [src]="producto.foto" alt="Foto del producto">
                          <div class="product-action">
                              <a class="btn btn-outline-dark btn-square" [routerLink]="['/verDetalleProducto', producto.id]"><i class="fa fa-shopping-cart"></i></a>
                              <a class="btn btn-outline-dark btn-square" [routerLink]="['/verDetalleProducto', producto.id]"><i class="fa fa-search"></i></a>
                          </div>
                      </div>
                      <div class="text-center py-4">
                          <a class="h6 text-decoration-none text-truncate" href="">{{ producto.nombre }}</a>
                          <div class="d-flex align-items-center justify-content-center mt-2">
                              <h5>${{ producto.costo }}</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>

<!-- Shop End -->
